@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --header-height: 80px;
    --footer-height: 130px;
    --lilac: rgb(236, 171, 236);
    --purple: rgb(39, 1, 39);
    --purple-for-leter: rgb(136, 26, 136);
    --transparent-purple: rgba(255, 255, 255, 0.151);
    --gray: rgb(236, 223, 223);
    --turquesa: rgb(50, 190, 176);
    --blue: rgb(37, 240, 189);
    --leterr: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-image: linear-gradient(var(--purple),var(--lilac));
    background-attachment: fixed;
    color: var(--lilac);
    font-family: var(--leterr);
    height: 100%;}

header {
    height: var(--header-height);
    flex: 0 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.questionlogo {
    width: 70px;
    height: 60px;
}

.michelogo {
    height: 45px;
    width: 130px;
}

h1 {
    color:var(--lilac);
}

pre {
    font-family: var(--leterr);
    white-space: break-spaces;
}

main {
    flex: 1 0 auto;
    padding: 0 20px;
}

details summary { 
    cursor: pointer;
  }

.quizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

legend {
    background-color: var(--transparent-purple);
    padding: 3px 10px;
    border-radius: 10px;
    background: var( --lilac);
    color: var( --purple-for-leter);
}

input, #dropdown, ::placeholder {
    color: var(--purple-for-leter);
    background-color: var(--gray);
    border-radius: 20px;
    border-color: transparent;
    /* font-family: var(--leterr); */
}

input[type="radio"] {
    display: none;
}

input + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}

input + label::before {
    content: "";
    display: inline-block;
    background: white;
    border: 2px solid var(--turquesa);
    border-radius: 100%;
    height: 15px;
    margin-right: 4px;
    width: 15px;
}

input:checked + label {
    color: var(--purple);
    text-decoration: underline;
}

input:checked + label::before {
    background-color: var(--blue);
}

input:focus {
    color: var(--purple-for-leter);
}

.text-area {
    background-color: var(--gray);
    border-radius: 20px;
    color: var(--purple-for-leter);
    font-family: var(--leterr);
    height: 80px;
    width: 250px; 
    padding-left: 15px;
    padding-top: 5px; 
}

.text-area:focus {
    color: var(--purple-for-leter);
}

fieldset {
    border-color: var(--lilac);
    border-radius: 20px;
    border-style: dashed;
    border-width: 2px;
    background-color: var(--transparent-purple);
}

label {
    color: var(--purple-for-leter);
    font-family: var(--leterr);
}

.radiobutton-option {
    color: var(--lilac);
}

.container input:checked ~ .checkmark {
    background-color: purple;
  }
  
button {
    display: inline-block;
    background-color: var(--gray);
    border-color: transparent;
    border-radius: 20px;
    color: var(--purple-for-leter);
    font-family: var(--leterr);
    font-size: 16px;
    margin: 15px auto;
    padding: 5px 15px;
}

#momazo {
    width: 100%
}

.memes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.momazoimg {
    height: 250px;
}

footer {
    display: flex;
    flex: 0 0 auto;
    color: var(--purple-for-leter);
    height: var(--footer-height);
}

ul {
    list-style-image: linear-gradient(to left bottom, var(--purple-for-leter), var(--lilac));
}

.facebook-icon {
    height: 25px;
    width: 25px;
}

@media only screen and (max-width: 769px) {
    .memes {
        flex-direction: column;
    }

    .memes a img {
        width: 100%;
        height: auto;
    }

    .quizz label {
        width: 100%;
        display: block;
    }

    .quizz input::placeholder {
        font-size: 16px;
        padding-left: 5px;
        text-transform: capitalize;
    }

    .quizz input[type="text"], .quizz input[type='number'], .quizz select, .quizz textarea {
        width: 100%;
        margin-bottom: 15px;
        height: 35px;
    }

    .quizz textarea {
        font-size: 16px;
        min-height: 150px;
    }

    #dropdown {
        font-size: 16px;
        padding-left: 5px;
    }

    footer {
        flex-direction: column;
    }
}